<h2><%= @cocktail.name %></h2>
<h3>ingredients</h3>
<% @ingredients.each do |ingredient| %>
<%= ingredient.name  %>
<% end %>
<h3>doses :</h3>
<% @cocktail.doses.each do |dose| %>
<%= dose.description %><%= dose.ingredient.name %><%= link_to " Delete this dose", dose_path(dose), data: {:confirm => "Are you sure?"},  method: :delete %>
<% end %>
<%= link_to "Add dose", new_cocktail_dose_path(@cocktail) %>
<hr>
<%= link_to 'Back', cocktails_path %>
